
@font-face {font-family: "cl";
  src: url('iconfont.eot?t=1491028753103'); /* IE9*/
  src: url('iconfont.eot?t=1491028753103#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1491028753103') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1491028753103') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1491028753103#cl') format('svg'); /* iOS 4.1- */
}

.cl {
  font-family:"cl" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cl-yes:before { content: "\e65b"; }

.cl-add-c-o:before { content: "\e601"; }

.cl-delete:before { content: "\e61e"; }

.cl-copy-c:before { content: "\e64b"; }

.cl-pencil-s:before { content: "\e77d"; }

.cl-del:before { content: "\e654"; }

.cl-treearrow-down:before { content: "\e608"; }

.cl-pass-c:before { content: "\e605"; }

.cl-shop:before { content: "\e612"; }

.cl-close-c-o:before { content: "\e625"; }

.cl-close-c:before { content: "\e66b"; }

.cl-bell:before { content: "\e60c"; }

.cl-refresh:before { content: "\e62f"; }

.cl-calendar:before { content: "\e646"; }

.cl-cloud-upload:before { content: "\e628"; }

.cl-suspend:before { content: "\e672"; }

.cl-windows:before { content: "\e65d"; }

.cl-eye:before { content: "\e662"; }

.cl-database:before { content: "\e71c"; }

.cl-kttx:before { content: "\e623"; }

.cl-start:before { content: "\e657"; }

.cl-cloud-create:before { content: "\e64e"; }

.cl-menu:before { content: "\e61b"; }

.cl-arrow-retract:before { content: "\e626"; }

.cl-sign:before { content: "\e67a"; }

.cl-gridcaretarrowup:before { content: "\e636"; }

.cl-cpu:before { content: "\e64a"; }

.cl-provider:before { content: "\e736"; }

.cl-reduce-c-o:before { content: "\e637"; }

.cl-access:before { content: "\e62e"; }

.cl-plus:before { content: "\e763"; }

.cl-list-s-o:before { content: "\e746"; }

.cl-bk-conf:before { content: "\e617"; }

.cl-close-top:before { content: "\e663"; }

.cl-commodity:before { content: "\e6cc"; }

.cl-restar:before { content: "\e655"; }

.cl-clouddeploy:before { content: "\e701"; }

.cl-pass-o:before { content: "\e6a7"; }

.cl-arrow-down:before { content: "\e609"; }

.cl-arrow-right:before { content: "\e611"; }

.cl-arrow-left:before { content: "\e613"; }

.cl-reduce-c:before { content: "\e6cb"; }

.cl-mobile:before { content: "\e6e0"; }

.cl-play-o:before { content: "\e6ec"; }

.cl-navmenu-light:before { content: "\e6fd"; }

.cl-file-o:before { content: "\e739"; }

.cl-log:before { content: "\e661"; }

.cl-disk:before { content: "\e6d2"; }

.cl-reject-2:before { content: "\e6ad"; }

.cl-list:before { content: "\e633"; }

.cl-pass:before { content: "\e6b1"; }

.cl-add-c:before { content: "\e61a"; }

.cl-set:before { content: "\e640"; }

.cl-box:before { content: "\e632"; }

.cl-piechart:before { content: "\e627"; }

.cl-setting-center:before { content: "\e619"; }

.cl-depot:before { content: "\e65e"; }

.cl-spexamine:before { content: "\e642"; }

.cl-accesskey:before { content: "\e651"; }

.cl-apps:before { content: "\e7b9"; }

.cl-building-o:before { content: "\e6f6"; }

.cl-rmb-s-o:before { content: "\e6d0"; }

.cl-history:before { content: "\e668"; }

.cl-customer:before { content: "\e634"; }

.cl-ticket-s-o:before { content: "\e6d6"; }

.cl-terminal:before { content: "\e600"; }

.cl-cloud-download:before { content: "\e667"; }

.cl-idcard:before { content: "\e652"; }

.cl-search-light:before { content: "\e622"; }

.cl-qiandai:before { content: "\e618"; }

.cl-4leaf:before { content: "\e6de"; }

.cl-finance:before { content: "\e8f5"; }

.cl-order:before { content: "\e6df"; }

.cl-qi-c-o:before { content: "\e621"; }

.cl-setting:before { content: "\e653"; }

.cl-dashboard:before { content: "\e65f"; }

.cl-filebox:before { content: "\e65a"; }

.cl-2boxs:before { content: "\e693"; }

.cl-yaoqingma2:before { content: "\e687"; }

.cl-resource:before { content: "\e682"; }

.cl-file-box:before { content: "\e79c"; }

.cl-log-history:before { content: "\e629"; }

.cl-screen:before { content: "\e660"; }

.cl-yycoudlogo:before { content: "\e98d"; }

.cl-box-o:before { content: "\e659"; }

.cl-unlock:before { content: "\e98e"; }

.cl-release:before { content: "\e635"; }

.cl-bigclose-o:before { content: "\e638"; }

.cl-edit-c-o:before { content: "\e639"; }

.cl-4box-c-o:before { content: "\e63a"; }

.cl-addmachine-o:before { content: "\e63b"; }

.cl-settings-c-o:before { content: "\e63c"; }

.cl-shield-o:before { content: "\e63e"; }

.cl-texts-o:before { content: "\e63f"; }

.cl-set-c-o:before { content: "\e641"; }

.cl-box-c-o:before { content: "\e643"; }

.cl-4block-o:before { content: "\e644"; }

.cl-www:before { content: "\e645"; }

.cl-cloudapp-o:before { content: "\e647"; }

.cl-cloudmachine-o:before { content: "\e648"; }

.cl-add-s-o:before { content: "\e649"; }

.cl-file-pdf-s:before { content: "\e67b"; }

.cl-find:before { content: "\e62d"; }

.cl-verify:before { content: "\e67d"; }

.cl-person-o:before { content: "\e63d"; }

.cl-computer-o:before { content: "\e64c"; }

.cl-members-o:before { content: "\e64d"; }

.cl-person:before { content: "\e656"; }

.cl-tips-c-o:before { content: "\e67e"; }

.cl-selected-t:before { content: "\e683"; }

.cl-block:before { content: "\e98f"; }

.cl-log-o:before { content: "\e64f"; }

.cl-mislog-o:before { content: "\e650"; }

.cl-yongyouyun-r:before { content: "\e685"; }

.cl-API:before { content: "\e606"; }

.cl-phoneset:before { content: "\e607"; }

.cl-cloudbox:before { content: "\e60a"; }

.cl-3people:before { content: "\e60b"; }

.cl-woshou:before { content: "\e602"; }

